@model web_lab1_fandom.Models.Casts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Casts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeriesID" class="control-label"></label>
                <select asp-for="SeriesID" class ="form-control" asp-items="ViewBag.SeriesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActorID" class="control-label"></label>
                <select asp-for="ActorID" class ="form-control" asp-items="ViewBag.ActorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CharacterID" class="control-label"></label>
                <select asp-for="CharacterID" class ="form-control" asp-items="ViewBag.CharacterID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FirstAppereance" class="control-label"></label>
                <input asp-for="FirstAppereance" class="form-control" />
                <span asp-validation-for="FirstAppereance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastAppereance" class="control-label"></label>
                <input asp-for="LastAppereance" class="form-control" />
                <span asp-validation-for="LastAppereance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
